*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.podium
{ 
  max-width: 664px !important;
  width: 100% !important;
}


.outro
{
  height: 100vh;
}

.section0
{
  //overflow: visible;
}
.hero
{
  background-color: $colorBg3;
  border-radius: 40px;
  position: relative;
  overflow: visible;

  @include breakpoint(max, 400px) {
    border-radius: 0;
    background: linear-gradient(to bottom, $colorBg3, transparent);
  };

  // border-bottom: 10px solid $color;
  // border-right: 10px solid $color;

  .herochild, .herochild figure 
  {
    border-radius: 0 40px 40px 0;

    @include breakpoint(max, 400px) {
      border-radius: 0;
    };
  }



  &::after
  {
      content: '';
      display: block;
      background-color: $color;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 10px;
      top:10px;
      z-index:-1;
      border-radius: 40px;

      @include breakpoint(max, 400px) {
        border-radius: 0;
        left: 0;
        top:2px;
        display:none ;
      };
  }
  
}

.authors
{
  border-color: #4A4A4A;
}

.bg-color-1
{
  background-color: #3B3B3B;
}

.schema
{
    max-height: 80%;
}

.apexcharts-canvas
{
    margin: auto;
}

#chart2 .apexcharts-legend {
    flex-direction: row-reverse !important;
    //transform: translateY(-70%) !important;
  }

figure.champ
{
  width: 1000px;
  max-width: 80%; 

  @include breakpoint(max, 400px) {
    max-width: 50%; 
  };
}

figure.img3container
{
  width: 1000px;
  max-width: 80%; 
}

figure.simple 
{
    width: 1000px;
    max-width: 80%;
    

    &::after
    {
        content: '';
        display: block;
        background-color: $color;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 10px;
        top:10px;
        z-index:-1;
    }
    img { width: 100% !important;}
}
.bg-color{
  // background: red;
  padding: 20px;
  border-radius: 100px;
  width: 80px;
}


.swiper 
{
    background: #191A1A;
}

.swiper-slide { -webkit-transform: translateZ(0); -o-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -webkit-backface-visibility:hidden; transform: translateZ(0); } .swiper-wrapper { -webkit-backface-visibility:hidden; -webkit-transform-style: preserve-3d; }

.swiper-slide
{ 
    .scene-container
    {
        position: absolute;
        //background: white;

        &.scene-intro
        {
            transform: translateX(-125%);

            @include breakpoint(max, 750px) {
                transform: translateX(-50%);
            };

            figure
            {
                height: 100%;
            }
           img.intro-amit
           {
            //height: 100%;

            height:110%; 
            width: auto;
            max-width: initial !important;
            transform: translate(-50%, -52%);

            @include breakpoint(max, 750px) {
                transform: translate(-50%, -50%);
                height:100%; 
            };
           }
        }

        &.scene-center
        {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &.scene-right
        {
            top: 0;
            right: 0;
            bottom: 0;
            left: 50%;

            @include breakpoint(max, 750px) {
                left: 0;
            };

            
        }

        &.scene-left
        {
            top: 0;
            right: 50%;
            bottom: 0;
            left: 0;

            @include breakpoint(max, 750px) {
                right: 0;
            };
        }
    }
}




//  .popup
//  {
//     background: rgba(0, 0, 0, .2);
//     transition: all .3s;
//     //height: 10px;

//     &.is-revealed
//     {
//         //height: 200px;
//     } 

//     p 
//     {
//         color: black;
//     }

//     .signature
//     {
//         font-family: Poppins;
//         color: #C7948D;
//     }
//  }

.story
{
    transition: all .350s;

    &.is-hidden
    {
        opacity: 0;
        visibility: hidden;
        transition: all .350s;
    }
}

 .msg
 {
    max-width: 896px;
    width: 100%;
    padding-left: 208px;

    @include breakpoint(max, 750px) {
        padding-left: 0;
        padding: 0 15px;
    };

    .msg-title
    {
        display: block;
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 30px;
        color: black;
        margin-bottom: 20px;
        padding-left: 20px;
    }

    .msg-txt
    {
        
        background: white;
        border-radius: 30px;
        padding: 20px;
        margin-bottom: 20px;
        font-family: poppins;
        //font-size: 22px;
        font-weight: 500;
        
        @include breakpoint(max, 750px) {
            font-size: 16px;
        };

        @include breakpoint(max, 400px) {
            //padding: 10px;
            font-size: 15px;
        };
    }

    .msg-signature
    {
        display: block;
        font-family: Poppins;
        color: #C7948D;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .msg-close
    {
        display: block;
        height: 60px;
        border-radius: 100px;
        width: 100%;
        background-color: rgba(0, 0, 0, .35);
        text-align: center;
        padding-top: 16px;
        color: #C7948D;
        font-weight: bold;
        cursor: pointer;
        transition: all .2s !important;

        &:hover { background-color: rgba(255, 255, 255, .1); transition: all .2s !important; }
    }

    img.msg-triangle1
    {
        top: 30px;
        left: -42px;

        @include breakpoint(max, 750px) {
            top: -30px;
            left: auto;
            right: 100px;
            transform: rotate(90deg) rotateX(180deg);
        };

        @include breakpoint(max, 400px) {
            // top: -30px;
            // left: auto;
            // right: 100px;
            // transform: rotate(90deg) rotateX(180deg);
        };

        
    }

    img.msg-portrait
    {
        position: absolute;
        width: 175px;
        top: 50px;
        left: 0;
        z-index: -1;

        @include breakpoint(max, 750px) {
            left: auto;
            right: 35px;
            top: 0;
            transform: translateY(-52%) !important;
            width: 25%;
        };

        @include breakpoint(max, 400px) {
            top: 20px;
            // left: auto;
            // right: 100px;
            // transform: rotate(90deg) rotateX(180deg);
        };
    }
 }

 .notification
{
    cursor: pointer;
    display: inline-block;
    height: 70px;
    background-color: rgb(0, 0, 0);
    width: 300px;
    border-radius: 100px;
    padding: 5px 20px 5px 5px;
    //margin-top: 30px;
    overflow: hidden;
    transition: all .350s;
    transform: scale(1);
    transform-origin: center center;
    margin-top: 50px;
    margin-bottom: 50px;
    //border: 2px solid white;
    

    // &:hover { background-color: rgba(255, 255, 255, .1); transition: all .2s !important; }
    
    //&.is-dezoomd { transform: scale(80%); transition: all .350s; }

    &.is-squizzed { height: 0; padding: 0; margin-bottom: 0; transition: all .350s; }
    &.is-hidden { opacity: 0.001; transform: scale(80%); transition: all .350s; }
    &.is-collapsed { width: 70px; transition: all .350s; }
    &.is-highlighted { background-color: rgb(255, 255, 255); }

    &.is-blinking {
        animation: blinkin 1s infinite;
        
    }

    @keyframes blinkin {
        0% {
            background-color: white!important;
        }
        50% {
            background-color: red!important;
        }
        100% {
            background-color: white!important;
        }
    }

    .notification-circle
    {
        position: relative;
        background-color: rgb(86, 86, 86);
        width: 60px;
        height: 60px;
        border-radius: 100px;   
        float: left;
        margin-right: 20px;

      .notification-icon
      {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .notification-dot
      {
        position: absolute;
        background-color: #ff3e5e;
        width: 13px;
        height: 13px;
        border-radius: 100px;
        top: 0;
        right: 0;
        transition: all .350s;
        transform-origin: center center;
        transform: scale(1);

        &.is-hidden { transform: scale(0); transition: all .350s; }

      }
    }

    .notification-label
    {
        font-family: Poppins;
        font-weight: bold;
        display: inline-block;
        color: #C7948D;
        margin-top:8px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; 
        transition: all .350s;
        font-size: 18px;
        line-height: 1.2;

        @include breakpoint(max, 400px) {
            font-size: 16px;
            margin-top:10px;
        };

        &.is-hidden { opacity: 0; visibility: hidden; transition: all .350s; }
    }
}

.s01-sandwich, .s01-ventre, .s01-cigarette, .s01-dahmer, .s01-couteau, .s01-croise
{
    z-index: 11 !important;

}

.s01-toque, .s01-meuf, .s01-oeuf, .s01-echarpe, .s01-chauve, .s01-detective
{
    z-index: 10 !important;
}
.s01-derniere, .s01-forte, .s01-valise, .s01-casquette, .s01-sac
{
    z-index: 9 !important;
}


@keyframes name-of-animation {
    0%    { background-color: rgb(158, 158, 158); }
    25%    { background-color: black; }
    50%  { background-color: black; }
    75%    { background-color: black; }
    100%  { background-color: black; }
  }
  
  .is-blinking {
    animation: name-of-animation 4s infinite !important;
  }





  .end
  {
    width: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .dialog
  {
    position: relative;
  }

  .dialog-left
  {
    border: 0;
    background: #eafbda;
    box-shadow: -4px 4px #5bf556
  }

  .typing-left
  {
    //background: #eafbda;
  }

  .dialog-right
  {
    border: 0;
   background: #fad9d9;
    //color: black;
    box-shadow: 4px 4px #f55656;
  }

  .typing-right
  {
    //background: #fad9d9;
  }

  .msg-triangle
  {

    width: 30px;

    &.msg-triangle-top-right
    {
        // width: 37px;
        // height: 44px;
        bottom: 17px;
        right: -28px;
        transform: rotate(180deg);

        @include breakpoint(max, 750px) {
            transform: rotate(90deg) rotateX(180deg);
            bottom: auto;
            top: -25px;
            right: 20px;
        };

        &.msg-triangle-sm
        {
            width: 20px;
            top: 15px !important;
            right: -15px !important;

            @include breakpoint(max, 750px) {
                width: 20px;
                top: -15px !important;
                right: 15px !important;
            };
        }
    }

    &.msg-triangle-top-left
    {
        // width: 37px;
        // height: 44px;
        bottom: 17px;
        left: -28px;
        transform: rotate(180deg) rotateY(180deg);

        @include breakpoint(max, 750px) {
            transform: rotate(90deg);
            bottom: auto;
            top: -25px;
            left: 20px;
        };

        &.msg-triangle-sm
        {
            width: 20px;
            top: 15px !important;
            left: -15px !important;

            @include breakpoint(max, 750px) {
                width: 20px;
                top: -15px !important;
                left: 15px !important;
            };
        }
    }

   
    
    
  }



.typing
{

    margin-top: -70px !important;
    z-index: -1;
    width: 100px;
    height: 70px;
    background: white;
    margin-top: 30px;
    padding-top: 24px;
    border: solid 4px black;

    &.typing-right
    {
        float: right;
    }

    .dot
    {
        display: block;
        width: 13px;
        height: 13px;
        background: rgb(0, 0, 0);
    }
}

.wiggle
{
    color: #ed1148;
}

.s06-amit
{
    //z-index: 100!important;
    .s06-amit-corps
    {
        display: block;

        @include breakpoint(max, 750px) {
            display: none;
        }
    }
    .s06-amit-medaillon
    {
        display: none;

        

        @include breakpoint(max, 750px) {
            display: block;
        }
    }

    

    
}

.s06-sv
{

    .s06-smilingvilain
    {
        display: block;

        @include breakpoint(max, 750px) {
            display: none;
        }
        
    }

    .s06-smilingvilain-gone
    {
        display: block;

        @include breakpoint(max, 750px) {
            display: none;
        }
        
    }

    .s06-smilingvilain-medaillon
    {
        display: none;

        @include breakpoint(max, 750px) {
            display: block;
        }
        
    }

    .s06-smilingvilain-gone-medaillon
    {
        display: none;

        @include breakpoint(max, 750px) {
            display: block;
        }
    }
}

/***************************************************
 * Generated by SVG Artista on 9/30/2024, 2:36:51 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 svg .svg-elem-1 {
    stroke-dashoffset: 2656.091796875px;
    stroke-dasharray: 2656.091796875px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
  }
  
  svg.active .svg-elem-1 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-2 {
    stroke-dashoffset: 2716px;
    stroke-dasharray: 2716px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.05s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.05s;
  }
  
  svg.active .svg-elem-2 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-3 {
    stroke-dashoffset: 333.2708740234375px;
    stroke-dasharray: 333.2708740234375px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
  }
  
  svg.active .svg-elem-3 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-4 {
    stroke-dashoffset: 565.828125px;
    stroke-dasharray: 565.828125px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.15000000000000002s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.15000000000000002s;
  }
  
  svg.active .svg-elem-4 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-5 {
    stroke-dashoffset: 152.09655405895998px;
    stroke-dasharray: 152.09655405895998px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
  }
  
  svg.active .svg-elem-5 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-6 {
    stroke-dashoffset: 57.55561750309706px;
    stroke-dasharray: 57.55561750309706px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.25s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.25s;
  }
  
  svg.active .svg-elem-6 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-7 {
    stroke-dashoffset: 111.72421264648438px;
    stroke-dasharray: 111.72421264648438px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.30000000000000004s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.30000000000000004s;
  }
  
  svg.active .svg-elem-7 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-8 {
    stroke-dashoffset: 19.341817390598013px;
    stroke-dasharray: 19.341817390598013px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.35000000000000003s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.35000000000000003s;
  }
  
  svg.active .svg-elem-8 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-9 {
    stroke-dashoffset: 150.46188354492188px;
    stroke-dasharray: 150.46188354492188px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
  }
  
  svg.active .svg-elem-9 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-10 {
    stroke-dashoffset: 306.8329162597656px;
    stroke-dasharray: 306.8329162597656px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s;
  }
  
  svg.active .svg-elem-10 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-11 {
    stroke-dashoffset: 65.70465850830078px;
    stroke-dasharray: 65.70465850830078px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
  }
  
  svg.active .svg-elem-11 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-12 {
    stroke-dashoffset: 40.75039291381836px;
    stroke-dasharray: 40.75039291381836px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s;
  }
  
  svg.active .svg-elem-12 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-13 {
    stroke-dashoffset: 211.76568603515625px;
    stroke-dasharray: 211.76568603515625px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s;
  }
  
  svg.active .svg-elem-13 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-14 {
    stroke-dashoffset: 125.8729019165039px;
    stroke-dasharray: 125.8729019165039px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s;
  }
  
  svg.active .svg-elem-14 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-15 {
    stroke-dashoffset: 68.73027801513672px;
    stroke-dasharray: 68.73027801513672px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s;
  }
  
  svg.active .svg-elem-15 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-16 {
    stroke-dashoffset: 42.6014518737793px;
    stroke-dasharray: 42.6014518737793px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s;
  }
  
  svg.active .svg-elem-16 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-17 {
    stroke-dashoffset: 263.8935241699219px;
    stroke-dasharray: 263.8935241699219px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  }
  
  svg.active .svg-elem-17 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-18 {
    stroke-dashoffset: 154.80516052246094px;
    stroke-dasharray: 154.80516052246094px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8500000000000001s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8500000000000001s;
  }
  
  svg.active .svg-elem-18 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-19 {
    stroke-dashoffset: 147.77127075195312px;
    stroke-dasharray: 147.77127075195312px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  }
  
  svg.active .svg-elem-19 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-20 {
    stroke-dashoffset: 171.22735595703125px;
    stroke-dasharray: 171.22735595703125px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9500000000000001s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9500000000000001s;
  }
  
  svg.active .svg-elem-20 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-21 {
    stroke-dashoffset: 641.240234375px;
    stroke-dasharray: 641.240234375px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  }
  
  svg.active .svg-elem-21 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-22 {
    stroke-dashoffset: 1201.040283203125px;
    stroke-dasharray: 1201.040283203125px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.05s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.05s;
  }
  
  svg.active .svg-elem-22 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-23 {
    stroke-dashoffset: 281.38262939453125px;
    stroke-dasharray: 281.38262939453125px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  }
  
  svg.active .svg-elem-23 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-24 {
    stroke-dashoffset: 29.912458419799805px;
    stroke-dasharray: 29.912458419799805px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1500000000000001s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1500000000000001s;
  }
  
  svg.active .svg-elem-24 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-25 {
    stroke-dashoffset: 53.10709762573242px;
    stroke-dasharray: 53.10709762573242px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
  }
  
  svg.active .svg-elem-25 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-26 {
    stroke-dashoffset: 51.49590301513672px;
    stroke-dasharray: 51.49590301513672px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.25s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.25s;
  }
  
  svg.active .svg-elem-26 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-27 {
    stroke-dashoffset: 999.4133911132812px;
    stroke-dasharray: 999.4133911132812px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
  }
  
  svg.active .svg-elem-27 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-28 {
    stroke-dashoffset: 2.165518492460251px;
    stroke-dasharray: 2.165518492460251px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.35s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.35s;
  }
  
  svg.active .svg-elem-28 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-29 {
    stroke-dashoffset: 2px;
    stroke-dasharray: 2px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
  }
  
  svg.active .svg-elem-29 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-30 {
    stroke-dashoffset: 2.0627696961164474px;
    stroke-dasharray: 2.0627696961164474px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4500000000000002s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4500000000000002s;
  }
  
  svg.active .svg-elem-30 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-31 {
    stroke-dashoffset: 2.1148012205958366px;
    stroke-dasharray: 2.1148012205958366px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
  }
  
  svg.active .svg-elem-31 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-32 {
    stroke-dashoffset: 2.195489466190338px;
    stroke-dasharray: 2.195489466190338px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.55s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.55s;
  }
  
  svg.active .svg-elem-32 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-33 {
    stroke-dashoffset: 2.1908785104751587px;
    stroke-dasharray: 2.1908785104751587px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
  }
  
  svg.active .svg-elem-33 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-34 {
    stroke-dashoffset: 4.244498252868652px;
    stroke-dasharray: 4.244498252868652px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6500000000000001s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6500000000000001s;
  }
  
  svg.active .svg-elem-34 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-35 {
    stroke-dashoffset: 4.5058510303497314px;
    stroke-dasharray: 4.5058510303497314px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
  }
  
  svg.active .svg-elem-35 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-36 {
    stroke-dashoffset: 2.1204859390854836px;
    stroke-dasharray: 2.1204859390854836px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.75s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.75s;
  }
  
  svg.active .svg-elem-36 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-37 {
    stroke-dashoffset: 2.2108669579029083px;
    stroke-dasharray: 2.2108669579029083px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
  }
  
  svg.active .svg-elem-37 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-38 {
    stroke-dashoffset: 2px;
    stroke-dasharray: 2px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.85s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.85s;
  }
  
  svg.active .svg-elem-38 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-39 {
    stroke-dashoffset: 35.56595993041992px;
    stroke-dasharray: 35.56595993041992px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
  }
  
  svg.active .svg-elem-39 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-40 {
    stroke-dashoffset: 2px;
    stroke-dasharray: 2px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9500000000000002s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9500000000000002s;
  }
  
  svg.active .svg-elem-40 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-41 {
    stroke-dashoffset: 144.27015686035156px;
    stroke-dasharray: 144.27015686035156px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
  }
  
  svg.active .svg-elem-41 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-42 {
    stroke-dashoffset: 141.87728881835938px;
    stroke-dasharray: 141.87728881835938px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.0500000000000003s;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.0500000000000003s;
  }
  
  svg.active .svg-elem-42 {
    stroke-dashoffset: 0;
  }



  // //////////////////////////////////////////


  /***************************************************
 * Generated by SVG Artista on 10/11/2024, 9:37:21 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg.troisimg .svg-elem-1 {
  stroke-dashoffset: 227.48480224609375px;
  stroke-dasharray: 227.48480224609375px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
}

svg.troisimg.active2 .svg-elem-1 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-2 {
  stroke-dashoffset: 438.68115234375px;
  stroke-dasharray: 438.68115234375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.05s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.05s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s;
}

svg.troisimg.active2 .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: rgb(51, 65, 61);
}

svg.troisimg .svg-elem-3 {
  stroke-dashoffset: 9.83400011062622px;
  stroke-dasharray: 9.83400011062622px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

svg.troisimg.active2 .svg-elem-3 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-4 {
  stroke-dashoffset: 10.808878898620605px;
  stroke-dasharray: 10.808878898620605px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.15000000000000002s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.15000000000000002s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s;
}

svg.troisimg.active2 .svg-elem-4 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-5 {
  stroke-dashoffset: 10.808878898620605px;
  stroke-dasharray: 10.808878898620605px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s;
}

svg.troisimg.active2 .svg-elem-5 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-6 {
  stroke-dashoffset: 41.348663330078125px;
  stroke-dasharray: 41.348663330078125px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.25s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.25s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s;
}

svg.troisimg.active2 .svg-elem-6 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-7 {
  stroke-dashoffset: 41.348670959472656px;
  stroke-dasharray: 41.348670959472656px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.30000000000000004s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.30000000000000004s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s;
}

svg.troisimg.active2 .svg-elem-7 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-8 {
  stroke-dashoffset: 41.34865951538086px;
  stroke-dasharray: 41.34865951538086px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.35000000000000003s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.35000000000000003s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s;
}

svg.troisimg.active2 .svg-elem-8 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-9 {
  stroke-dashoffset: 444.2685241699219px;
  stroke-dasharray: 444.2685241699219px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.troisimg.active2 .svg-elem-9 {
  stroke-dashoffset: 0;
  fill: rgb(51, 65, 61);
}

svg.troisimg .svg-elem-10 {
  stroke-dashoffset: 982.2644653320312px;
  stroke-dasharray: 982.2644653320312px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8500000000000001s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8500000000000001s;
}

svg.troisimg.active2 .svg-elem-10 {
  stroke-dashoffset: 0;
  fill: rgb(99, 119, 113);
}

svg.troisimg .svg-elem-11 {
  stroke-dashoffset: 106.12187194824219px;
  stroke-dasharray: 106.12187194824219px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg.troisimg.active2 .svg-elem-11 {
  stroke-dashoffset: 0;
  fill: rgb(51, 65, 61);
}

svg.troisimg .svg-elem-12 {
  stroke-dashoffset: 87.4073486328125px;
  stroke-dasharray: 87.4073486328125px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9500000000000001s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9500000000000001s;
}

svg.troisimg.active2 .svg-elem-12 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-13 {
  stroke-dashoffset: 309.5084533691406px;
  stroke-dasharray: 309.5084533691406px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg.troisimg.active2 .svg-elem-13 {
  stroke-dashoffset: 0;
  fill: rgb(51, 65, 61);
}

svg.troisimg .svg-elem-14 {
  stroke-dashoffset: 183.64300537109375px;
  stroke-dasharray: 183.64300537109375px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.05s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.05s;
}

svg.troisimg.active2 .svg-elem-14 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-15 {
  stroke-dashoffset: 21.75686264038086px;
  stroke-dasharray: 21.75686264038086px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg.troisimg.active2 .svg-elem-15 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-16 {
  stroke-dashoffset: 173.23715209960938px;
  stroke-dasharray: 173.23715209960938px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.15s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.15s;
}

svg.troisimg.active2 .svg-elem-16 {
  stroke-dashoffset: 0;
  fill: rgb(51, 65, 61);
}

svg.troisimg .svg-elem-17 {
  stroke-dashoffset: 997.4290771484375px;
  stroke-dasharray: 997.4290771484375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

svg.troisimg.active2 .svg-elem-17 {
  stroke-dashoffset: 0;
  fill: rgb(99, 119, 113);
}

svg.troisimg .svg-elem-18 {
  stroke-dashoffset: 213.12826538085938px;
  stroke-dasharray: 213.12826538085938px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8500000000000001s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.25s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8500000000000001s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.25s;
}

svg.troisimg.active2 .svg-elem-18 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-19 {
  stroke-dashoffset: 272.5375061035156px;
  stroke-dasharray: 272.5375061035156px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}

svg.troisimg.active2 .svg-elem-19 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-20 {
  stroke-dashoffset: 89.25321197509766px;
  stroke-dasharray: 89.25321197509766px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9500000000000001s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.35s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9500000000000001s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.35s;
}

svg.troisimg.active2 .svg-elem-20 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-21 {
  stroke-dashoffset: 74.39199829101562px;
  stroke-dasharray: 74.39199829101562px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s;
}

svg.troisimg.active2 .svg-elem-21 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-22 {
  stroke-dashoffset: 112.56207275390625px;
  stroke-dasharray: 112.56207275390625px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.05s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4500000000000002s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.05s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4500000000000002s;
}

svg.troisimg.active2 .svg-elem-22 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-23 {
  stroke-dashoffset: 63.35673904418945px;
  stroke-dasharray: 63.35673904418945px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

svg.troisimg.active2 .svg-elem-23 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-24 {
  stroke-dashoffset: 63.35673904418945px;
  stroke-dasharray: 63.35673904418945px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1500000000000001s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5500000000000003s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1500000000000001s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5500000000000003s;
}

svg.troisimg.active2 .svg-elem-24 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-25 {
  stroke-dashoffset: 30.957000732421875px;
  stroke-dasharray: 30.957000732421875px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
}

svg.troisimg.active2 .svg-elem-25 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-26 {
  stroke-dashoffset: 351.13824462890625px;
  stroke-dasharray: 351.13824462890625px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.25s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.65s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.25s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.65s;
}

svg.troisimg.active2 .svg-elem-26 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-27 {
  stroke-dashoffset: 8.580999851226807px;
  stroke-dasharray: 8.580999851226807px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
}

svg.troisimg.active2 .svg-elem-27 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-28 {
  stroke-dashoffset: 8.580999851226807px;
  stroke-dasharray: 8.580999851226807px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.35s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.75s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.35s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.75s;
}

svg.troisimg.active2 .svg-elem-28 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-29 {
  stroke-dashoffset: 8.580999851226807px;
  stroke-dasharray: 8.580999851226807px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8000000000000003s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8000000000000003s;
}

svg.troisimg.active2 .svg-elem-29 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-30 {
  stroke-dashoffset: 8.580999851226807px;
  stroke-dasharray: 8.580999851226807px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4500000000000002s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.85s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4500000000000002s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.85s;
}

svg.troisimg.active2 .svg-elem-30 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-31 {
  stroke-dashoffset: 8.580999851226807px;
  stroke-dasharray: 8.580999851226807px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9s;
}

svg.troisimg.active2 .svg-elem-31 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-32 {
  stroke-dashoffset: 8.580999851226807px;
  stroke-dasharray: 8.580999851226807px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.55s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9500000000000002s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.55s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9500000000000002s;
}

svg.troisimg.active2 .svg-elem-32 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-33 {
  stroke-dashoffset: 8.580999851226807px;
  stroke-dasharray: 8.580999851226807px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
}

svg.troisimg.active2 .svg-elem-33 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-34 {
  stroke-dashoffset: 8.580999851226807px;
  stroke-dasharray: 8.580999851226807px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6500000000000001s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.0500000000000003s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6500000000000001s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.0500000000000003s;
}

svg.troisimg.active2 .svg-elem-34 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-35 {
  stroke-dashoffset: 24.375999450683594px;
  stroke-dasharray: 24.375999450683594px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
}

svg.troisimg.active2 .svg-elem-35 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-36 {
  stroke-dashoffset: 125.7249984741211px;
  stroke-dasharray: 125.7249984741211px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.75s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.15s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.75s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.15s;
}

svg.troisimg.active2 .svg-elem-36 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-37 {
  stroke-dashoffset: 310.8564758300781px;
  stroke-dasharray: 310.8564758300781px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
}

svg.troisimg.active2 .svg-elem-37 {
  stroke-dashoffset: 0;
  fill: rgb(51, 65, 61);
}

svg.troisimg .svg-elem-38 {
  stroke-dashoffset: 174.87625122070312px;
  stroke-dasharray: 174.87625122070312px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.85s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.25s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.85s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.25s;
}

svg.troisimg.active2 .svg-elem-38 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-39 {
  stroke-dashoffset: 130.0778350830078px;
  stroke-dasharray: 130.0778350830078px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3000000000000003s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3000000000000003s;
}

svg.troisimg.active2 .svg-elem-39 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-40 {
  stroke-dashoffset: 45.332000732421875px;
  stroke-dasharray: 45.332000732421875px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9500000000000002s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.35s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9500000000000002s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.35s;
}

svg.troisimg.active2 .svg-elem-40 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-41 {
  stroke-dashoffset: 106.67140197753906px;
  stroke-dasharray: 106.67140197753906px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s;
}

svg.troisimg.active2 .svg-elem-41 {
  stroke-dashoffset: 0;
}

svg.troisimg .svg-elem-42 {
  stroke-dashoffset: 97.96968841552734px;
  stroke-dasharray: 97.96968841552734px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.0500000000000003s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.45s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.0500000000000003s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.45s;
}

svg.troisimg.active2 .svg-elem-42 {
  stroke-dashoffset: 0;
  fill: rgb(25, 26, 26);
}

svg.troisimg .svg-elem-43 {
  stroke-dashoffset: 1016.0062255859375px;
  stroke-dasharray: 1016.0062255859375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
          transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
}

svg.troisimg.active2 .svg-elem-43 {
  stroke-dashoffset: 0;
  fill: rgb(99, 119, 113);
}
